* {
  padding: 0;
  margin: 0;
  font-family: RobotoMono Nerd Font;
  font-weight: 400;
  font-size: 15px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#cpu,
#memory,
#temperature,
#disk,
#workspaces,
#backlight,
#pulseaudio,
#network,
#custom-media,
#clock {
  padding-right: 5px;
  padding-left: 5px;
}

#custom-spacer {
    padding-left: 4px;
    padding-right: 4px;
}

/* module-left */
#workspaces button {
  /* margin-top: 8px; */
  /* margin-bottom: 8px; */
  /* padding: 3px 7px 2px 2px; */
  color: #393552;
  padding-right: 2px;
}

#workspaces button.active {
  color: #e0def4;
}

#cpu {
  color: #e0def4;
}

#memory {
  color: #e0def4;
}

#temperature {
  color: #e0def4;
}

#disk {
  color: #e0def4;
}

/* module-center */
#clock {
  color: #e0def4;
  font-weight: 500;
}

/* module-right */
#custom-media {
  color: #e0def4;
}

#battery. {
  color: #e0def4;
}

#backlight {
  color: #e0def4;
}

#pulseaudio {
  color: #e0def4;
}

#network {
  color: #c4a7e7;
}
