* {
  all: unset;
  border: 1 #ffffff;
}

window {
  font-family: RobotoMono Nerd Font;
  font-weight: 400;
  font-size: 15px;
}

.bar {
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 5px;
}

.text-spacer, .inactive-workspace {
  color: #393552;
}

/* .date, .time { */
/*   font-weight: 500; */
/* } */

.media-icon {
  font-size: 17px;
}

.workspaces {
  font-size: 18px;
}
