* {
  all: unset;
}

window {
  font-family: RobotoMono Nerd Font;
  font-weight: 400;
  font-size: 15px;
}

.bar {
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 5px;
}

/* .datetime { */
/*   background-color: rgba(0, 0, 0, 0.0); */
/* } */
