* {
  all: unset;
  border: 1px dashed rgba(255, 255, 255, 0.2);
}

window {
  font-family: RobotoMono Nerd Font;
  font-weight: 400;
  font-size: 15px;
  color: #e0def4;
}

/* .backlight-icon, */
/* .audio-icon, */
/* .network-icon { */
/*   text-align: center; */
/* } */

.bar {
  background-color: rgba(255, 255, 255, 0.0);
}

.text-spacer, .inactive-workspace {
  color: #393552;
}

/* .date, .time { */
/*   font-weight: 500; */
/* } */

.media-icon {
  font-size: 17px;
}

.workspaces {
  font-size: 18px;
}
